version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - BE_HOST=${BE_HOST}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
